.pids-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 80px;
    height: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.pid{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 12px;
}